/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: arial;
	font-size: 15px;
	line-height: 1.6em;
	background: #fff;
}

.container{
  position: relative;
  text-align: center;
  max-width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
}

.pull-left{float:left}
.pull-right{float:right}

/*header*/
header{
	margin-top: 0;
	padding: 10px 15vw;
	background: #085f63;
	color: #ffffff;
	overflow: auto;
	font-size: 18px;
}

/*footer*/
footer{
	background: #085f63;
	color: #ffffff;
	padding: 10px 15vw;
	overflow: auto;
}

/*progress bar*/
#progressbar{
	margin: 30px 0;
	overflow: hidden;
	/*CSS counter to number the steps*/
	counter-reset: step;
}
#progressbar li{
	list-style-type: none;
	line-height: normal;
	font-size: 12px;
	width: 12.5%;
	float: left;
	position: relative;
}
#progressbar li:before{
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #F6BFAA;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progress connectors*/
#progressbar li:after{
	content:'';
	width: 100%;
	height: 2px;
	background: #F6BFAA;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;/*put it behind the numbers*/
}
#progressbar li:first-child:after{
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps*/
/*marking the number of step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after{
	background: #BC8976;
	color: white;
}

/*PA form*/
#msform fieldset{
	background-color: #fff;
	margin: auto;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 75vw;
}
.row{
	margin: 4px 30px;
}
input[type='radio']{
	display: none;
}
.questionForm h3{
	margin: 20px 0 30px 0;
}
#msform fieldset:not(:first-of-type){
	display: none;
}
.choice, .student{
	margin: 0 3px;
	padding: 5px 15px;
	position: relative;
	font-size: 1em;
	border-radius: 3px;
	width: 8vw;
}
.choice{
	background-color: #f5e1da;
	display: inline-block;
	cursor: pointer;
}
.student{
	background-color: #BC8976;
	color: #fff;
	font-weight: 700;
	display: inline-table;
}
.choice:hover{
	background: #F6BFAA;
}
.cactive{
	background-color: #BC8976;
	color: #fff;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #BC8976;
}

/*buttons*/
#msform .action-button{
	width: 100px;
	background-color: #BC8976;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 15px;
	margin: 10px 15px;
}
#msform .action-button:hover, #msform .action-button:focus{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #BC8976;
}
.action-button, .logout-submit{
	width: 30vw;
	background-color: #BC8976;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 0;
}
.action-button:hover, .action-button:focus, .logout-submit:hover, .logout-submit:focus{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #BC8976;
}
.logout-submit {
	background-color: #085f63;
}

/*login form*/
.login, .signup{
	background-color: #fff;
	margin: auto;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 55vw;
}
.loginform hr, .signupform hr{
	margin: 10px 0 20px 0;
}
.loginform h2, .signupform h2{
	padding: 10px 20px 10px 50px;
	width: 20vw;
}
.loginform p, .signupform p{
	text-align: right;
	display: inline-block;
	padding: 10px 20px 10px 0;
	width: 20vw;
}
.loginform input, .signupform input{
	display: inline-block;
	width: 20vw;
	border: 0; 
	border-radius: 2px;
	padding: 7px 15px; 
	border: 1px solid #ccc; 
	position: relative; 
	background: transparent;
}
.loginform input~ .focus-bg, .signupform input~ .focus-bg{
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	background-color: #ededed; 
	opacity: 0; 
	transition: 0.5s; 
	z-index: -1;
}
.loginform input:focus ~ .focus-bg, .signupform input:focus ~ .focus-bg{
	transition: 0.5s; 
	opacity: 1;
}
.loginform button, .signupform button, .pull-right button{
	width: 100px;
	background-color: #085f63;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 15px;
	margin-top: 15px;
}
.loginform button[name="login_submit"]{
	margin-left: 15vw;
}
.loginform button[name="signup_submit"]{
	margin-left: 5vw;
}
.signupform button[name="signup_submit"]{
	margin-left: 20vw;
}
.pull-right button{
	padding: 0;
	margin: 0 0 0 4vw;
}

.signuperror, .loginerror{
	color: #D8000C;
	margin-left: 15vw;
}

.error{
	color: #D8000C;
}